<div class="container top-offset">
	<div class="row">
<!--		<h1 class="center">
			Donate
		</h1>-->
<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
<input type="hidden" name="cmd" value="_donations">
<input type="hidden" name="business" value="SRTJ7THF9DVD8">
<input type="hidden" name="lc" value="US">
<input type="hidden" name="item_name" value="FundKnowledge">
<input type="hidden" name="amount" value="10.00">
<input type="hidden" name="currency_code" value="USD">
<input type="hidden" name="no_note" value="1">
<input type="hidden" name="no_shipping" value="1">
<input type="hidden" name="rm" value="1">
<input type="hidden" name="return" value="http://fundknowledge.com/donated?n=1">
<input type="hidden" name="bn" value="PP-DonationsBF:btn_donateCC_LG.gif:NonHosted">
<input type="hidden" name="notify_url" value="http://40.122.174.132:2000/0001-1">
<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
</form>
<!--
		<hr class="featurette-divider">
	</div>
	<div class="row">
		<div id="demo-simple-slider" class="dragdealer">
		  <div class="handle red-bar"><span class="cost">10</span><span class="small">$</span></div>
		</div>
		<hr class="featurette-divider">
		<h2 class="reward-text">Follow the NGO's Tweets</h2>
		<a class="btn btn-primary btn-lg bgb center-block" href="/pay/after" role="button">Proceed</a>
	</div>
</div>

<script>
	var val = 10;
	new Dragdealer('demo-simple-slider',{
		steps: 6, 
		snap: true,
		slide: false,
		callback: function(x,y){
			if (x == 0){
				val = 10;
				$(".reward-text").html("Follow the NGO's Tweets");
			}
			else if (x == 0.2){
				val = 25;
				$(".reward-text").html("Follow your donor's personal Twitter");
			}
			else if (x == 0.4){
				val = 100;
				$(".reward-text").html("Receive a personal email from the receipient");
			}
			else if (x == 0.6){
				val = 250;
				$(".reward-text").html("Receive a phone call from from the recipient");
			}
			else if (x == 0.8){
				val = 1000;
				$(".reward-text").html("An NGO curated visit to your recipient");
			}
			else if (x == 1){
				val = 5000;
				$(".reward-text").html("A curated tour through the neighbourhood with an NGO executive");
			}
			var str = val;
			$(".cost").html(val);
		}
	});


</script>
-->
