    <div class="jumbotron jumbo-lift">
      <div class="container">
        <h1>Fund Knowledge</h1>
        <p>Below: Sushma, 14, India's youngest graduate student</p>
        <p><a class="btn btn-primary btn-lg bgb" href="#" role="button">Learn more »</a></p>
      </div>
    </div>

    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing">
      <!-- Three columns of text below the carousel -->
      <div class="row">
        <div class="img-center">
          <div class="img-ctr">
            <img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="120" height="120">
          </div>
          <div class="img-ctr">
            <img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="120" height="120">
          </div>
          <div class="img-ctr">
            <img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="120" height="120">
          </div>
          <div class="img-ctr">
            <img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="120" height="120">          
          </div>
        </div>
      </div><!-- /.row -->


      <!-- START THE FEATURETTES -->

      <hr class="featurette-divider reduced-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Meet an <span class="text-muted">outlier</span></h2>
          <p class="lead">
We recognize that future leaders are outliers in society, and therefore by partnering with grassroot organizations in developing countries we find for them, for you and the world.</p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive center-block" data-src="holder.js/500x500/auto" alt="Generic placeholder image">
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7 col-md-push-5">
          <h2 class="featurette-heading">Fund their <span class="text-muted">education.</span></h2>
          <p class="lead">
By funding their college, you are not only empowering them to become changemakers, but also back partnered organizations in their attempt to nurture such genises.
</p>
        </div>
        <div class="col-md-5 col-md-pull-7">
          <img class="featurette-image img-responsive center-block" data-src="holder.js/500x500/auto" alt="Generic placeholder image">
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Create a <span class="text-muted">connection.</span></h2>
          <p class="lead">
Through built-in features like Skype and Google Street View, supporters can be in the student’s shoes and be beside them on their journey to change the world.
</p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive center-block" data-src="holder.js/500x500/auto" alt="Generic placeholder image">
        </div>
      </div>

      <hr class="featurette-divider">

      <!-- /END THE FEATURETTES -->


      <!-- FOOTER -->
      <footer>
        <p class="pull-right"><a href="#">Back to top</a></p>
        <p>&copy; 2015 Fund Knowledge, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
      </footer>
    </div><!-- /.container -->
