<div class="container top-offset">
	<div class="row">
		<h1 class="center">
			Join The Tribe.
		</h1>
	</div>
	<div class="row">
		<hr class="two-panel-divider featurette-divider">

		<div class="p_img col-md-6">
			<div class="social">
				<i class="fa fa-facebook"></i>
			</div>
		</div>
		<div class="p_img col-md-6">
			<div class="social">
				<i class="fa fa-google"></i>
			</div>
		</div>
	</div>
	<div class="row">
		<hr class="two-panel-divider-two featurette-divider">

	</div>
</div>